### Application configuration variables ###
APP_NAME='Posta'
HOST=localhost
PORT=3000

### Database configuration variables ###
DATABASE_HOST=db_host
DATABASE_PORT=db_port
DATABASE_USER=db_user
DATABASE_PASS=db_pass
DATABASE_NAME=db_name
DATABASE_TYPE=mysql
DATABASE_TIMEZONE='-00:00'

### Secret application key ###
SECRET=hashsecret
